<app-user-avatar
    class="block w-[48px] h-[48px] rounded-full cursor-pointer"
    [user]="taskAssigneeAsUser()"
    [isEmpty]="false"
    [matMenuTriggerFor]="menu"
></app-user-avatar>

<mat-menu #menu="matMenu">
    <div mat-menu-item (click)="profileClicked.emit()">
        <div class="grid grid-cols-[36px,1fr] gap-2 mb-3">
            <div class="flex items-center">
                <app-user-avatar
                    class="block w-[36px] h-[36px] rounded-full cursor-pointer"
                    [user]="taskAssigneeAsUser()"
                    [isEmpty]="false"
                ></app-user-avatar>
            </div>
            <div class="items-center overflow-hidden">
                <span class="cursor-pointer text-base">{{ fullName }}</span>
                <br />
                <span class="cursor-pointer text-xs break-all">{{ username }}</span>
            </div>
        </div>
    </div>

    <mat-divider></mat-divider>

    <button mat-menu-item (click)="logout.emit()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
    </button>
</mat-menu>
