<div class="flex flex-col w-full h-full items-center justify-center border-2 border-amber-400/50">
    <div class="flex flex-row w-full h-1/6 text-amber-500 items-center justify-center">
        @if (day > 0) {
            <h3>{{ day }}</h3>
        }
    </div>
    <div class="flex h-5/6 w-full items-center justify-center">
        @if (sprintName !== '') {
            @if(isFirst) {
                <div class="flex h-1/2 w-full items-center justify-start bg-cyan-400 rounded-l-lg ml-2">
                    <div class="ml-3">
                        <h3>{{ sprintName }}</h3>
                    </div>
                </div>
            } @else if(isLast) {
                <div class="flex h-1/2 w-full items-center justify-start bg-cyan-400 rounded-r-lg mr-2"></div>
            } @else {
                <div class="flex h-1/2 w-full items-center justify-start bg-cyan-400"></div>
            }

        }
    </div>
</div>
