<mat-toolbar color="primary">
    <div class="flex bg-dark-color-settings-container-background p-1.5 rounded-lg items-center">
        <img class="m-1.5" src="../../../assets/corn-icons/icon-128x128.png" alt="icon" width="25" height="25">

        <span class="text-white text-2xl">Corn</span>
    </div>

    <span class="flex-auto"></span>

    <button mat-raised-button aria-label="Login">
        <mat-icon>login</mat-icon>
        Login
    </button>

    <span class="m-3 bg-amber-50 w-0.5 h-7"></span>

    <button mat-raised-button aria-label="register">
        <mat-icon>app_registration</mat-icon>
        Register
    </button>
</mat-toolbar>

