<div style="display: flex; justify-content: center; align-items: center; margin-top: 10em">
    <mat-card style="width: 400px; height: 400px; display: flex; justify-content: center; align-items: center;">
        <mat-card-header>The header of this card</mat-card-header>

        <button color="primary" mat-raised-button>Welcome to my app</button>
    </mat-card>

    <mat-form-field>
        <input matInput placeholder="Some funny placeholder">
        <mat-hint>Some funny hint</mat-hint>
    </mat-form-field>
</div>