<div class="flex justify-center w-full min-h-[80vh]">
    <mat-card class="p-5 w-[60em] flex justify-evenly gap-5">
        <div class="text-2xl font-semibold">{{ projectName }}</div>

        <mat-divider></mat-divider>

        <div class="text-xl font-semibold">Details</div>

        <div class="flex items-center justify-between">
            <div class="flex items-center gap-10">
                <div>Project name</div>

                <div class="text-sm font-light">{{ projectName }}</div>
            </div>

            <button mat-icon-button
                    (click)="editProjectName()"
                    aria-label="Edit project name">
                <mat-icon>edit</mat-icon>
            </button>
        </div>

        <mat-divider></mat-divider>

        <div class="text-xl mb-3 font-semibold">Project Members</div>

        <div class="mat-elevation-z8 mb-6">
            <table mat-table [dataSource]="dataSource" class="mb-2">

                <ng-container matColumnDef="fullName">
                    <th mat-header-cell *matHeaderCellDef> Full Name</th>

                    <td mat-cell *matCellDef="let projectMember">
                        <div class="flex items-center gap-3">
                            <app-user-avatar class="w-7 h-7" [user]="user" [isEmpty]="true">
                            </app-user-avatar>

                            {{ projectMember.name }} {{ projectMember.surname }}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef> Username</th>

                    <td mat-cell *matCellDef="let projectMember">
                        {{ projectMember.username }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="deleteMember">
                    <th mat-header-cell *matHeaderCellDef>&nbsp;</th>

                    <td mat-cell *matCellDef="let projectMember">
                        @if (currentUser.email !== projectMember.username) {
                            <button style="width: 2.5em; height: 2.5em;"
                                    mat-fab color="warn"
                                    (click)="deleteMember(projectMember)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        }
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

                <tr mat-row
                    *matRowDef="let row; columns: displayedColumns;">
                </tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell p-4 text-xl" colspan="3">No data has been found!</td>
                </tr>
            </table>

            <mat-paginator [pageSize]="20" [length]="totalNumber" aria-label="Select next page of project members">
            </mat-paginator>
        </div>

        <div class="flex justify-between">
            @if (isProjectOwner) {
                <button mat-raised-button color="primary">
                    <mat-icon>add</mat-icon>
                    Add new member
                </button>

                <button mat-raised-button
                        (click)="deleteProject()"
                        color="warn">
                    <mat-icon>delete</mat-icon>

                    Delete project
                </button>
            } @else {
                <button mat-raised-button color="warn">
                    <mat-icon>logout</mat-icon>

                    Leave project
                </button>
            }
        </div>
    </mat-card>
</div>
