<div class="border-2 rounded-lg border-amber-400/10 h-max">
    <div class="flex flex-col justify-start m-4">
        <div class="flex flex-row justify-between items-center w-full">
            <div class="flex flex-row justify-start items-center w-1/2">
                <div class="w-8 h-8 mr-2 mb-1">
                    <app-user-avatar [user]="comment.user"></app-user-avatar>
                </div>
                <div class="flex flex-row">
                    <h2>commented on {{formatDate(comment.commentTime)}}</h2>
                    @if(edited) {
                        <div class="ml-1" matTooltip="edited on {{formatDate(comment.lastEditTime)}}" [matTooltipPosition]="'above'">
                            <h2>Edited</h2>
                        </div>
                    }
                </div>
            </div>
            <div class="flex flex-row justify-end items-center w-1/2">
                <button *ngIf="canEdit() && !isEditing" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon class="text-amber-400">more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item type="button" (click)="isEditing = !isEditing">
                        <div class="flex flex-row items-center">
                            <div class="w-5 h-5 mr-2">
                                <ng-icon class="text-amber-400" name='matEdit'></ng-icon>
                            </div>
                            <span>Edit</span>
                        </div>
                    </button>

                    <button mat-menu-item type="button" (click)="deleteComment()">
                        <div class="flex flex-row items-center">
                            <div class="w-5 h-5 mr-2">
                                <ng-icon class="text-red-600" name="matDelete"></ng-icon>
                            </div>
                            <span>Delete</span>
                        </div>
                    </button>
                </mat-menu>
            </div>
        </div>
        <div class="flex flex-col w-full">
            @if(isEditing) {
                <mat-form-field class="w-full">
                    <textarea rows="3" cols="200" matInput maxlength="500" [formControl]="commentControl" [value]="comment.comment"></textarea>
                </mat-form-field>
                <div class="flex flex-row items-center w-full">
                    <div class="flex flex-row justify-start items-center w-8/12">
                        @if(commentControl.invalid) {
                            <mat-error>Comment must be between 1 and 500 characters and cannot contain only whitespace</mat-error>
                        }
                    </div>
                    <div class="flex flex-row justify-end items-center w-4/12">
                        <div class="ml-5">
                            <button mat-raised-button color="secondary" (click)="isEditing = !isEditing">Cancel</button>
                            <button mat-raised-button color="primary" [disabled]="commentControl.invalid" (click)="editComment()">Submit</button>
                        </div>
                    </div>
                </div>
            } @else {
                <h2>{{comment.comment}}</h2>
            }
        </div>
    </div>
</div>
