<section class="m-20 flex gap-10 justify-center overflow-y-hidden">
    @if (feature.isLeft) {
        <article>
            <p class="text-3xl my-2.5">
                {{ feature.title }}
            </p>

            <p class="text-sm w-home-tab text-justify">
                {{ feature.content }}
            </p>
        </article>
    }

    <div>
        <img [ngSrc]="feature.imagePath" alt="login-page" width="700" height="520">
    </div>

    @if (!feature.isLeft) {
        <article>
            <p class="text-3xl my-2.5">
                {{ feature.title }}
            </p>

            <p class="text-sm w-home-tab text-justify">
                {{ feature.content }}
            </p>
        </article>
    }
</section>
