<section class="m-20 flex gap-10 justify-center">
    @if (feature.isLeft) {
        <article>
            <p class="text-3xl my-2.5">
                {{ feature.title }}
            </p>

            <p class="text-sm w-home-tab text-justify">
                {{ feature.content }}
            </p>
        </article>
    }

    <div class="bg-amber-300 w-96 h-96"></div>

    @if (!feature.isLeft) {
        <article>
            <p class="text-3xl my-2.5">
                {{ feature.title }}
            </p>

            <p class="text-sm w-home-tab text-justify">
                {{ feature.content }}
            </p>
        </article>
    }
</section>
