<div class="flex flex-col w-full">
    <mat-form-field class="w-full">
        <textarea #textArea rows="3" maxlength="500" [formControl]="newComment" matInput placeholder="Add new comment..."></textarea>
        @if(textArea.textLength > 0) {
            <mat-hint>{{ textArea.textLength }} / {{ textArea.maxLength }}</mat-hint>
        }
    </mat-form-field>
    <div class="flex flex-row w-full justify-end items-center space-x-2 mb-4">
        <button mat-raised-button color="secondary" (click)="resetNewComment()">Cancel</button>
        <button mat-raised-button color="primary" (click)="addNewComment()" [disabled]="newComment.invalid">Submit</button>
    </div>

    @for (comment of comments; track comment) {
        <app-backlog-item-comment [comment]="comment" (commentDeleted)="getAllComments()"></app-backlog-item-comment>
    }
    @if(comments.length == 0) {
        <div class="w-full flex flex-row justify-center items-center">
            <span>No comments.</span>
        </div>
    }
    <mat-paginator [length]="totalComments"
                   [pageSize]="3"
                   [pageSizeOptions]="[3]"
                   aria-label="Select page">
    </mat-paginator>
</div>

