

<div class="project-list">
    <mat-grid-list [cols]="cols">
        <mat-grid-tile><app-project [title]="'DevCooperation'"
                                    [members]="exampleUsers"></app-project></mat-grid-tile>
        <mat-grid-tile><app-project></app-project></mat-grid-tile>
        <mat-grid-tile><app-project></app-project></mat-grid-tile>
        <mat-grid-tile><app-project></app-project></mat-grid-tile>
        <mat-grid-tile><app-project></app-project></mat-grid-tile>
        <mat-grid-tile><app-project></app-project></mat-grid-tile>
        <mat-grid-tile><app-project></app-project></mat-grid-tile>
        <mat-grid-tile><app-project></app-project></mat-grid-tile>
        <mat-grid-tile><app-project></app-project></mat-grid-tile>
        <mat-grid-tile><app-project></app-project></mat-grid-tile>
        <mat-grid-tile><app-project></app-project></mat-grid-tile>
        <mat-grid-tile><app-project></app-project></mat-grid-tile>
        <mat-grid-tile><app-project></app-project></mat-grid-tile>
    </mat-grid-list>
</div>
