<app-toolbar [isOnProjectRoute]="true"></app-toolbar>

<div class="project-list">
    <mat-grid-list [cols]="cols">
        @for(project of projects; track project) {
            <mat-grid-tile>
                <app-project [project]="project"></app-project>
            </mat-grid-tile>
        }
    </mat-grid-list>
</div>

<button mat-fab color="primary"
        aria-label="Add new project"
        matTooltip="Add new project"
        class="add-button">
    <mat-icon>add</mat-icon>
</button>
