<div class="project-list">
    <mat-grid-list [cols]="cols">
        <mat-grid-tile><app-project [title]="'DevCooperation'"
                                    [members]="['Wojciech Wasilewski', 'Igor Kędzierawski', 'Szymon Półtorak', 'Jan Kowalski']"></app-project></mat-grid-tile>
        <mat-grid-tile><app-project></app-project></mat-grid-tile>
        <mat-grid-tile><app-project></app-project></mat-grid-tile>
        <mat-grid-tile><app-project></app-project></mat-grid-tile>
        <mat-grid-tile><app-project></app-project></mat-grid-tile>
        <mat-grid-tile><app-project></app-project></mat-grid-tile>
        <mat-grid-tile><app-project></app-project></mat-grid-tile>
        <mat-grid-tile><app-project></app-project></mat-grid-tile>
        <mat-grid-tile><app-project></app-project></mat-grid-tile>
        <mat-grid-tile><app-project></app-project></mat-grid-tile>
        <mat-grid-tile><app-project></app-project></mat-grid-tile>
        <mat-grid-tile><app-project></app-project></mat-grid-tile>
        <mat-grid-tile><app-project></app-project></mat-grid-tile>
    </mat-grid-list>
</div>