<mat-toolbar color="primary">
    @if (!isOnProjectRoute) {
        <div class="flex space-x-4 items-center">
            <button mat-icon-button (click)="toggleSidebar()">
                <mat-icon>{{ sidebarShown ? 'menu_open' : 'menu' }}</mat-icon>
            </button>
        </div>
    }

    <span class="flex-auto"></span>

    @if (!isOnProjectRoute) {
        <button mat-icon-button
                [routerLink]="RouterPaths.PROJECT_LIST_DIRECT_PATH"
                class="center"
                matTooltip="Go to projects"
                aria-label="Go to projects">
            <mat-icon>apps</mat-icon>
        </button>
    } @else {
        <button mat-icon-button
                [routerLink]="RouterPaths.PROJECT_LIST_DIRECT_PATH"
                class="center"
                matTooltip="Settings"
                (click)="profileClicked()"
                aria-label="Settings">
            <mat-icon>settings</mat-icon>
        </button>
    }

    @if (isLoggedIn && userProfile) {
        <userinfo [username]="userProfile!.username || ''"
                  [fullName]="userProfile!.firstName + ' ' + userProfile!.lastName"
                  (logout)="logout()">
        </userinfo>
    }
</mat-toolbar>
