@import '../../../../styles/theme';
@import '../../../../styles/screen';

.background {
  width: 16em;
  height: 15em;
  border-radius: 5px;
  margin-left: 1em;
  margin-right: 1em;
  box-shadow: #000000 0 0 1em;
  z-index: -2;

  @media(max-width: $screen-1440) {
    width: 11em;
    height: 10em;
  }

  @media(max-width: $screen-440) {
    width: 8em;
    height: 7em;
  }
}

.background:hover {
  cursor: pointer;
  outline: 1.5px solid rgba(194, 194, 194, 0.8);
  box-shadow: #000000 0 10px 1em, #000000 0 0 1em;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 1.05em;
  width: 15em;
  height: 15em;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: map-get($dark-color-settings, container-background-color);

  @media(max-width: $screen-1440) {
    width: 10em;
    height: 10em;
  }

  @media(max-width: $screen-440) {
    width: 7em;
    height: 7em;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 1.05em;
    background-image: url('../../../../assets/icons/icon-512x512.png');
    background-size: cover;
    opacity: 0.07;
  }
}

.project h1 {
  max-width: 80%;
  margin-top: 0.5em;
  font-weight: bold;
  font-size: 1.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  z-index: 1;

  @media(max-width: $screen-1440) {
    font-size: 1em;
    margin-top: 0.25em;
  }

  @media(max-width: $screen-440) {
    font-size: 0.7em;
    margin-top: 0.15em;
  }
}

.line {
  width: 80%;
  height: 1px;
  background-color: white;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.title {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
  align-items: center;
  width: 100%;
}

.member{
  width: 2.7em;
  height: 2.7em;

  @media (max-width: $screen-1440) {
    width: 1.8em;
    height: 1.8em;
  }

  @media (max-width: $screen-440) {
    width: 1.1em;
    height: 1.1em;
  }
}

.member-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  gap: 0.7em;
  z-index: 1;
}

