$corn-primary: (
    50: #ffe599,
    100: #ffde7f,
    200: #ffd866,
    300: #ffd14c,
    400: #ffcb32,
    500: #ffc419,
    600: #b28500,
    700: #cc9800,
    800: #e5ab00,
    900: #ffbe00,
    A100: #ffe599,
    A200: #ffd866,
    A400: #e5ab00,
    A700: #ffbe00,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$dark-color-settings: (
    main-background-color: #1f1f1e,
    container-background-color: #292627,
    font-color: #ffffff,
);