$screen-360: 360px;
$screen-400: 400px;
$screen-440: 440px;
$screen-550: 550px;
$screen-600: 600px;
$screen-720: 720px;
$screen-840: 840px;
$screen-926: 926px;
$screen-1024: 1024px;
$screen-1150: 1150px;
$screen-1300: 1300px;
$screen-1440: 1440px;
$screen-1600: 1600px;
$screen-1920: 1920px;
