@import "theme";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #393d45;
  border-radius: 20px;
}

html, body {
  height: 100%;
  background-color: map-get($map: $dark-color-settings, $key: main-background-color);
  color: map-get($map: $dark-color-settings, $key: font-color);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
