<div class="max-h-[70em] w-[50em] p-3">
    <div class="flex justify-center items-center mt-3 font-semibold text-xl">
        Add Backlog Item
    </div>

    <mat-dialog-content class="max-h-[30em] w-full">
        <form [formGroup]="itemForm" (ngSubmit)="submitForm()" class="flex flex-col">
            <mat-form-field class="mb-3 w-full">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title">

                @if (itemForm.controls['title'].hasError('required')) {
                    <mat-error>Title is <strong>required</strong></mat-error>
                } @else if (itemForm.controls['title'].hasError('maxlength')) {
                    <mat-error>Title cannot be more than <strong>100</strong> characters</mat-error>
                } @else if (itemForm.controls['title'].hasError('notWhitespace')) {
                    <mat-error>Title cannot be only <strong>whitespace</strong></mat-error>
                }
            </mat-form-field>

            <mat-form-field class="mb-3 w-full">
                <mat-label>Description</mat-label>
                <textarea [cdkTextareaAutosize]="true" matInput #textArea maxlength="500"
                          formControlName="description">
                </textarea>

                <mat-hint align="end">{{ textArea.textLength }} / {{ textArea.maxLength }}</mat-hint>

                @if (itemForm.controls['description'].hasError('required')) {
                    <mat-error>Description is <strong>required</strong></mat-error>
                } @else if (itemForm.controls['description'].hasError('maxlength')) {
                    <mat-error>Description cannot be more than <strong>500</strong> characters</mat-error>
                } @else if (itemForm.controls['description'].hasError('notWhitespace')) {
                    <mat-error>Description cannot be only <strong>whitespace</strong></mat-error>
                }
            </mat-form-field>

            <mat-form-field class="mb-3 w-full">
                <mat-label>Sprint</mat-label>

                <mat-select #sprintSelect required formControlName="sprint">
                    @for (sprint of sprints; track sprint) {
                        <mat-option [value]="sprint.sprintId">
                            {{ sprint.sprintName }}
                        </mat-option>
                    }
                </mat-select>

                @if (itemForm.controls['sprint'].hasError('required')) {
                    <mat-error>Sprint is <strong>required</strong></mat-error>
                }
            </mat-form-field>


            <div class="flex flex-row justify-between items-center space-x-3">
                <div class="flex flex-col space-y-2 items-center justify-center">
                    <mat-form-field class="w-44 flex items-center justify-center">
                        <mat-label>Type</mat-label>

                        <mat-select (selectionChange)="changeCurrentType($event)" required
                                    formControlName="type">
                            <mat-select-trigger>
                                @switch (currentType) {
                                    @case (BacklogItemType.BUG) {
                                        <div class="bg-red-600 h-8 w-8 rounded-full flex justify-center items-center">
                                            <ng-icon name="bootstrapBugFill"></ng-icon>
                                        </div>
                                    }
                                    @case (BacklogItemType.STORY) {
                                        <div class="bg-blue-800 h-8 w-8 rounded-full flex justify-center items-center">
                                            <ng-icon name="featherBook"></ng-icon>
                                        </div>
                                    }
                                    @case (BacklogItemType.TASK) {
                                        <div class="bg-green-600 h-8 w-8 rounded-full flex justify-center items-center">
                                            <ng-icon name="matTask"></ng-icon>
                                        </div>
                                    }
                                    @case (BacklogItemType.EPIC) {
                                        <div class="bg-purple-900 h-8 w-8 rounded-full flex justify-center items-center">
                                            <ng-icon name="octContainer"></ng-icon>
                                        </div>
                                    }
                                }
                            </mat-select-trigger>

                            @for (type of types; track type) {
                                <mat-option [value]="type">
                                    @switch (type) {
                                        @case (BacklogItemType.BUG) {
                                            <div class="flex flex-row items-center justify-center space-x-2">
                                                <div class="bg-red-600 h-8 w-8 rounded-full flex justify-center items-center">
                                                    <ng-icon name="bootstrapBugFill"></ng-icon>
                                                </div>
                                                <h3>Bug</h3>
                                            </div>
                                        }
                                        @case (BacklogItemType.STORY) {
                                            <div class="flex flex-row items-center justify-center space-x-2">
                                                <div class="bg-blue-800 h-8 w-8 rounded-full flex justify-center items-center">
                                                    <ng-icon name="featherBook"></ng-icon>
                                                </div>
                                                <h3>Story</h3>
                                            </div>
                                        }
                                        @case (BacklogItemType.TASK) {
                                            <div class="flex flex-row items-center justify-center space-x-2">
                                                <div class="bg-green-600 h-8 w-8 rounded-full flex justify-center items-center">
                                                    <ng-icon name="matTask"></ng-icon>
                                                </div>
                                                <h3>Task</h3>
                                            </div>
                                        }
                                        @case (BacklogItemType.EPIC) {
                                            <div class="flex flex-row items-center justify-center space-x-2">
                                                <div class="bg-purple-900 h-8 w-8 rounded-full flex justify-center items-center">
                                                    <ng-icon name="octContainer"></ng-icon>
                                                </div>
                                                <h3>Epic</h3>
                                            </div>
                                        }
                                    }
                                </mat-option>
                            }
                        </mat-select>

                        @if (itemForm.controls['type'].hasError('required')) {
                            <mat-error>Type is <strong>required</strong></mat-error>
                        }
                    </mat-form-field>
                </div>

                <div class="flex flex-col space-y-2 items-center justify-center">
                    <mat-form-field class="w-56 flex flex-col items-center justify-center">
                        <mat-label>Assignee</mat-label>

                        <mat-select #memberSelect (selectionChange)="changeCurrentUser($event)"
                                    required formControlName="assignee">
                            <mat-select-trigger>
                                @if (currentUser !== undefined) {
                                    <div class="flex gap-2 items-center">
                                        <app-user-avatar class="h-9 w-9" [user]="currentUser"></app-user-avatar>

                                        {{ currentUser.name }} {{ currentUser.surname }}
                                    </div>
                                }
                            </mat-select-trigger>

                            @for (user of users; track user) {
                                <mat-option [value]="user">
                                    <div class="flex gap-2 items-center">
                                        <app-user-avatar class="h-9 w-9" [user]="user"></app-user-avatar>

                                        {{ user.name }} {{ user.surname }}
                                    </div>
                                </mat-option>
                            }
                        </mat-select>

                        @if (itemForm.controls['assignee'].hasError('required')) {
                            <mat-error>Assignee is <strong>required</strong></mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>
        </form>
    </mat-dialog-content>

    <mat-dialog-actions class="button-bar">
        <button mat-button mat-dialog-close aria-label="Cancel">
            Cancel
        </button>

        <button mat-raised-button
                [disabled]="itemForm.invalid"
                color="primary"
                (click)="submitForm()" aria-label="Submit">
            Submit
        </button>
    </mat-dialog-actions>
</div>
