<div [matMenuTriggerFor]="instance" (click)="update()">
    <ng-content></ng-content>
</div>

<mat-menu #instance>
    <mat-form-field (click)="$event.stopPropagation()" subscriptSizing="dynamic">
        <mat-label>Search members</mat-label>
        <input matInput #filterStringInput type="text" (click)="$event.stopPropagation()" (input)="update()" />
    </mat-form-field>

    <mat-divider></mat-divider>

    @for(item of filteredAssignees; track item) {
        <button mat-menu-item (click)="assigneeChanged(item)">
            <div class="flex items-center space-x-3">
                <ng-container *ngTemplateOutlet="zerowidthspace"></ng-container>
                <app-user-avatar class="block w-[35px] h-[35px] rounded-full cursor-pointer" 
                    [user]="assigneeToUser(item)" [isEmpty]="!item"></app-user-avatar>
                <span>
                    {{ item.firstName + " " + item.familyName }}
                </span>
            </div>
        </button>
    }
</mat-menu>

<ng-template #zerowidthspace>​</ng-template>
